<%- include ('../partials/_header') %>

        <p class="headerPCat">Relación de Citas</p>
        </div>
        <div class="divForm">
            <div class="divFormBuscar">
                <form action="findDates" method="post">
                  <label class="headerPCat">Fecha:</label>
                  
                  <input type="date" rows="3" name="fechacita" class="selectCaptura" style="font-size: 20px;">
                  <span title="Clic sin fecha para traer todos las citas del día de hoy.">
                    <input class="btnBuscar" type="submit" value="Buscar">
                  </span>  
                </form>  
            </div>
            <div class="divHeaderOp">
                <!-- Opciones de encabezados -->
                
                <span title="Crear nueva cita.">
                    <a class="btnNuevo" href="/assistant/createDate">Nueva Cita</a>
                </span>
                
            </div>
        </div>
        <div class="divcerrar-sesion">
            <!-- Datos del usuario que tuvo acceso -->
            <input type="hidden" name="usuario" value="" disabled>

            <img src="../../Espacialidades.png" height="20" width="20">
            <% if (userAccess) { %><p><%= userAccess %></p>
                <a href="/login/login" class="btncerrar-sesion">Cerrar Sesión</a>
        </div>
      </div>
    </header>
    <section class="seccion">
        <div class="fijar-tabla" style="max-width: 70%;">
            <table class="tabla">
                <thead class="tHead">
                    <tr class="trFija">
                        <th style="width:40px; text-align: center">ID</th>
                        <th style="width:300px; text-align: center">NOMBRE</th>
                        <th style="width:50px; text-align: center">HORA</th>
                        <th style="width:150px; text-align: center">VISITA</th>
                        <th style="width:200px; text-align: center">DOCTOR</th>
                        <th style="width:160px; text-align: center">OPCIONES</th>
                    </tr>
                </thead>
                <tbody class="tbodyDatos" style="height: 500px;">
                    <!-- Inicia el listado de los registros -->
                    <% if (data) { %>
                        <% for (var i=0; i < data.length; i++) {%>
                            <tr class="trDatos">
                                <td style="width: 40px; font-size:90%; text-align: justify;">
                                    <%= data[i].idpadactual %>
                                </td>
                                <td style="width:300px; font-size:90%; text-align: justify;">
                                    <%= data[i].nombrepaciente %>
                                </td>
                                <td style="width:50px; font-size:90%; text-align: justify;">
                                    <%= data[i].horacita %>
                                </td>
                                <td style="width:150px; font-size:90%; text-align: center;">
                                    <%= data[i].status %>
                                </td>
                                <td style="width:200px; font-size:90%; text-align: center;">
                                    <%= data[i].nombreusuario %>
                                </td>
                                <td style="width:160px; font-size:80%;">
                                    <% if (userType === "AUXILIAR") { %>
                                       <a href="update/<%= data[i].idpadactual %>" class="btnModificar"> Modificar </a>
                                       <a href="delete/<%= data[i].idpadactual %>" class="btnBorrar" onclick="return confirm('¿Desea cancelar la cita?')"> Cancelar </a>
                                    <% } else { if (data[i].status != "CANCELADA") { %>
                                        <a href="/doctor/ahfapphistory/<%= data[i].idpadactual %>&<%= data[i].status %>" class="btnRevisar"> Atención </a>
                                     <%  } }  %>    
                                </td>
                            </tr>
                        <% } %>
                    <% } %>

                </tbody>
            </table>
        </div>
    </section>
    <% } else { %>
        <div class="containerModal">
            <div class="popup" id="modal">
                <div>
                    <p class="textModal">USUARIO SIN ACCESSO</p>
                    <hr class="hrModal">
                    </hr>
                </div>
                <div>
                    <p class="textModal">No se ha registrado con su cuenta.</p>
                </div>
                <div>
                    <a href="/login/login" class="btncloseModal" rel="noreferrer">
                        Cerrar
                    </a>
                </div>
            </div>
        </div>
      <% } %>
<%- include ('../partials/_footer') %>