<%- include ('../partials/_header') %>

<p class="headerPCat">
    <%= title %>
</p>
</div>
<div class="divForm">
    <div class="divFormBuscar">

    </div>
    <div class="divHeaderOp">
        <!-- Opciones de encabezados -->
        <a href="/recordCondition/<%= patient.idpadactual %>&<%= patient.status %>" class="btnRegresar">Regresar</a>
        
    </div>
</div>
<div class="divcerrar-sesion">
    <!-- Datos del usuario que tuvo acceso -->
    <input type="hidden" name="usuario" value="" disabled>

    <img src="../../Espacialidades.png" height="20" width="20">
    <% if (userAccess) { %>
        <p>
            <%= userAccess %>
        </p>
        <a href="/login" class="btncerrar-sesion">Cerrar Sesión</a>
</div>
</div>
</header>

  <div class="divDisplayPatient">
    <div>     
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Nombre:</label>
            <input value="<%= patient.nombrepaciente %>" type="text" name="nombrepaciente" size="30" class="selectCaptura" id="namePatient" disabled>
        </div>
        
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Edad:</label>
            <input value="<%= patient.edad %>" type="number" min="18" max="90" size="2" maxlength="2" name="edad" class="selectCaptura" disabled> 
        </div>
    </div>
    <div>
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Edo. Civil:</label>
            <input value="<%= patient.estadocivil %>" type="text" name="estadocivil" size="30" class="selectCaptura" disabled>
        </div>
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Nivel Esc.:</label>
            <input value="<%= patient.escolaridad %>" type="text" name="escolaridad" size="30" class="selectCaptura" disabled>             
        </div>
    </div>
    <div>        
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Empleo:</label>
            <input value="<%= patient.empleo %>" type="text" name="empleo" size="30" class="selectCaptura" disabled>
        </div>
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Nacido en:</label>
            <input value="<%= patient.lugarnacimiento %>" type="text" name="lugarnacimiento" size="30" class="selectCaptura" disabled>
        </div>
    </div>
    <div>
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Vive en:</label>
            <input value="<%= patient.lugarvive %>" type="text" name="lugarvive" size="30" class="selectCaptura" disabled>
        </div>
        <div class="divDatosCaptura">
            <label class="labelFormCaptura">Alergias:</label>
            <input value="<%= patient.alergias %>" type="text" name="alergias" size="30" class="selectCaptura" disabled>
        </div>
    </div>
    
</div>

<div class="divFormPres">
    <div class="divFormCaptura" style="height: 180px; width: 1450px;">
        <form action="/addMedicine/<%= patient.idpadactual %>" method="POST">
            <div class="scrollPad" style="height: 110px;">
                <div class="divDatosCapturaPad">
                    <label class="labelFormCaptura">Medicamento:</label>
                    <textarea type="text" style="text-transform:uppercase;" rows="2" cols="150" name="medicamento" class="selectCaptura textarea"></textarea>
                </div>
                <div class="divDatosCapturaPad">
                    <label class="labelFormCaptura">Dosis:</label>
                    <textarea type="text" style="text-transform:uppercase;" name="dosis" rows="2" cols="150" class="selectCaptura textarea" ></textarea>
                </div>
            </div>
            <hr color="blue" size=3>
            <div class="divFormOp">

                <input type="submit" value="Guardar" class="btnRegresar">

            </div>
        </form>
    </div>
        <!-- Despliega los medicamentos de la receta -->
  <% if (medicines.length > 0) { %>
    <div class="divFormCaptura" style="height: 200px; width: 1450px;">
       <div class="divFormPresPrint">    
        
        <div class="fijar-tabla" style="width: 1300px;">
            <table class="tabla" id="medicine">
                <thead class="tHead">
                  <tr class="trFija">
                      <th style="width:800px; text-align: center">MEDICAMENTO</th>
                      <th style="width:400px; text-align: left">DOSIS</th>
                      <th style="width:100px; text-align: center">OPCIONES</th>
                 </tr>
                </thead>
              <tbody class="tbodyDatos" style="height: 145px;">
                    <!-- Inicia el listado de los registros -->
                        <% for (var i=0; i < medicines.length; i++) {%>
                            <tr class="trDatos">
                                <td style="width:800px; font-size:90%; text-align: justify;"><%= medicines[i].medicamento %></td>
                                <td style="width:400px; font-size:90%; text-align: left;"><%= medicines[i].dosis %></td>
                                <td style="width:88px; font-size:80%;">
                                    <a href="/eraseMedicine/<%= medicines[i].iddetallereceta %>&<%= medicines[i].idpadactual %>" class="btnModificar"> Quitar </a>
                                </td>
                            </tr>
                        <% } %>
                   
                </tbody>
                
            </table>
         </div>
         <input 
            class = "btnRegresar" 
            value = "Imprimir"
               id = "print-Prescription"
             type = "submit"
             onclick = "printPrescription(event)">  
       </div>
       
     </div>   
     
   <% } %>      
    <!-- </div> del form captura -->
     
 </div>
 


<% } else { %>
    <div class="containerModal">
        <div class="popup" id="modal">
            <div>
                <p class="textModal">USUARIO SIN ACCESSO</p>
                <hr class="hrModal">
                </hr>
            </div>
            <div>
                <p class="textModal">No se ha registrado con su cuenta.</p>
            </div>
            <div>
                <a href="/login" class="btncloseModal" rel="noreferrer">
                    Cerrar
                </a>
            </div>
        </div>
    </div>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="../../pdfGenerate.js"></script>
   
<%- include ('../partials/_footer') %>

